<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenciarPerfil</servlet-name>
        <servlet-class>controle.GerenciarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenu</servlet-name>
        <servlet-class>controle.GerenciarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFuncionario</servlet-name>
        <servlet-class>controle.GerenciarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPedido</servlet-name>
        <servlet-class>controle.GerenciarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>controle.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controle.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCliente</servlet-name>
        <servlet-class>controle.GerenciarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarProduto</servlet-name>
        <servlet-class>controle.GerenciarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCliente</servlet-name>
        <servlet-class>controle.BuscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProduto</servlet-name>
        <servlet-class>controle.AtualizarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPedidoProduto</servlet-name>
        <servlet-class>controle.GerenciarPedidoProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarItensCarrinho</servlet-name>
        <servlet-class>controle.GerenciarItensCarrinho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarPerfil</servlet-name>
        <url-pattern>/gerenciar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenu</servlet-name>
        <url-pattern>/gerenciar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFuncionario</servlet-name>
        <url-pattern>/gerenciar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPedido</servlet-name>
        <url-pattern>/gerenciar_pedido.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/valida_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCliente</servlet-name>
        <url-pattern>/gerenciar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarProduto</servlet-name>
        <url-pattern>/gerenciar_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCliente</servlet-name>
        <url-pattern>/buscar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProduto</servlet-name>
        <url-pattern>/atualizar_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPedidoProduto</servlet-name>
        <url-pattern>/gerenciar_pedido_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarItensCarrinho</servlet-name>
        <url-pattern>/gerenciar_itens_carrinho.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
